###CodeIgniter###
*/config/development
*/config/production
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

###APP###
application/vendor/*
node_modules/
public/assets/bower_components/*
public/uploads/*

###NetBeans###
nbproject

#other
.phpintel
*.cache