{% extends "layouts/application.twig" %}

{% set title = lang('Dashboard') %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ title }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">{{ title }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            
            
            <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150</h3>

                <p>New Orders</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>44</h3>

                <p>User Registrations</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>65</h3>

                <p>Unique Visitors</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
            
            
            
            
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Title</h3>
                    <div class="card-tools">
                        <div class="btn-group">
                            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-wrench"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="#" class="dropdown-item">Action</a>
                                <a href="#" class="dropdown-item">Another action</a>
                                <a href="#" class="dropdown-item">Something else here</a>
                                <a class="dropdown-divider"></a>
                                <a href="#" class="dropdown-item">Separated link</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h3>{{ title }}</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti veniam consectetur obcaecati, expedita debitis a dolore, cum eum sequi necessitatibus molestiae consequatur. Qui architecto amet dolor deleniti consequuntur aperiam facilis obcaecati, repudiandae sit minus libero enim debitis ea fugit, voluptatibus quibusdam necessitatibus corporis quasi? Esse, ipsam minima. Aliquid corrupti cupiditate deserunt. Veritatis quae delectus, dolorum consequuntur ratione sapiente numquam. In quas excepturi ullam consectetur eveniet commodi corporis debitis, repellat ea tenetur eligendi optio modi a obcaecati illo nam nostrum magni aspernatur repellendus eos vel sequi exercitationem. Ratione cumque molestiae culpa rem consequuntur voluptatibus modi omnis reiciendis aperiam maxime adipisci molestias unde maiores quidem assumenda ipsum recusandae, repudiandae ducimus magni, nam nihil nesciunt inventore. Rem aspernatur ipsum tempore illo earum adipisci. Nihil at cum rerum neque obcaecati ipsum animi facilis quibusdam nisi nam ad enim cupiditate similique ullam, adipisci magni voluptas iste aliquam? Ullam, assumenda hic? A cum laboriosam sequi voluptatum obcaecati ab repudiandae est tenetur omnis quas! Autem dignissimos beatae iure ipsum ratione maxime in aspernatur enim consequatur earum id porro veniam placeat, ipsam rem impedit deleniti illum dolor aperiam soluta. Ducimus, fugit asperiores obcaecati distinctio voluptatibus nihil rem dolorum reprehenderit quas voluptatum architecto sint. Ad mollitia praesentium ipsa dignissimos.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
