{% extends 'layouts/base.twig' %}

{% set title = lang('Summary') %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{ site_url('img/logo.svg') }}" alt="" width="72" height="72">
    <h2>MSNOCH</h2>
    <p class="lead">Witam na mojej stronie. <br> Jeżeli znalazłeś się tu przez przypadek, to możesz śmiało opuścić tę stronę, ponieważ nie znajdziesz tu nic ciekawego!</p>
  </div>
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2017-2020 MSNOCH</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>
{% endblock %}
