{% extends "layouts/application.twig" %}

{% set title = lang('Dashboard') %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{ title }}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">{{ title }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-file"></i>
                        Title
                    </h3>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat dicta incidunt ea officia, minima voluptatibus ratione rerum consectetur quos maxime distinctio voluptate magni repellendus? Doloremque, numquam ratione. Quia, quisquam. Illum.
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
